@import url(./reset.css);

@font-face {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;

  src: local("./assets/fonts/Manrope/Manrope-Regular.ttf");
}
* {
  margin: 0;
  padding: 0;
}

:root {
  font-family: "Manrope", system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  color-scheme: light dark;
  color: #cacace;
  background-color: #1c1c21;

  /* font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}
#root {
  max-width: 100%;
  margin: 0 auto;
}
a {
  font-weight: 300;
  color: #cacace;
  text-decoration: inherit;
  transition: 0.3s ease;
}
a:hover {
  color: #fff;
  transition: 0.3s ease;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
}
li {
  list-style-type: none;
}
section {
  max-width: 1600px;
  margin: 0 auto;
}
h4 {
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 400;
  color: #62646c;
  margin-top: 10px;
}
/* h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

@media (prefers-color-scheme: dark) {
  :root {
    color: #1c1c21;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
